*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

body{
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  background-size: cover;
  font-family: 'roboto', sans-serif;
}

.form{
  width: 400px;
  height: auto;
  color: #36454F;
  font-family: 'roboto', sans-serif;
}

.heading{
  text-transform: capitalize;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 50px;
}

input,
.submit{
  width: 80%;
  height: 35px;
  display: block;
  margin: 20px auto;
  border-radius: 4px;
  background: rgba(255, 255, 255, 255);
  border: none;
  color: #36454F;
  padding: 15px;
}

input::placeholder{
  color: #36454F;
}

input:focus,
.submit:hover{
  background: #fff;
  color: #000;
}

input:focus::placeholder{
  color: #000;
}

.submit{
  width: auto;
  padding: 0 20px;
  cursor: pointer;
  margin: 50px auto 0;
}

.link{
  text-align: center;
  text-transform: capitalize;
  color:#36454F;
  display: block;
  margin: 30px auto;
}

.link:hover{
  color: black;
}

.alert-box{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 150px;
  max-width: 90%;
  width: auto;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  background: rgb(255, 167, 167);
  border-radius: 5px;
  color: #36454F;
  font-family: 'roboto', sans-serif;
  text-align: center;
}


/* 
body {
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: lightsteelblue;
  background-size: cover;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0,2);
  border-radius: var(--border-radius);
  background: white
}

.container, 
.form__input,
.form__button {
  font: 500 1rem 'Raleway', sans-serif;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dcdddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(--color-primary);
  background: white;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message  {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover {
  background: var(--color-primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
} */